@font-face {
  font-family: lato-regular;
  src: url(../../../assets/font/Lato-Regular.ttf) format('opentype');
}

h2,
p,
label {
  font-family: 'lato-regular', 'arial', sans-serif;
  font-size: 10px;
}

.footer-container {
  background: #212121;
  padding: 20px 20px;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
p {
  margin-top: 20px;
}
.col2,
.col3 {
  font-size: 14px;
}
.col1,
.col2,
.col3,
.col4 {
  padding-top: 30px;
  width: 20%;
}
.col4 img {
  margin-top: 10%;
}
@media only screen and(max-width:500px ) {
  .footer-container {
    flex-direction: column;
  }
  .col1,
  .col2,
  .col3,
  .col4 {
    width: 100%;
  }
}

@media only screen and(max-width:350px ) {
  .footer-container {
    flex-direction: column;
  }
  .col1,
  .col2,
  .col3.col4 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
  .col1,
  .col2,
  .col3,
  .col4 {
    width: 100%;
  }
}
