.footer-container{
  background: #212121;
  padding: 20px 20px;
  color: #FFF;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
p {
  margin-top: 20px;
}

.col1,.col2,.col3,.col4{
  text-align: center;
  padding-top: 30px;
  width: 20%;
}
@media only screen and(max-width:500px ){
  .footer-container{
    flex-direction: column;
  }
  .col1,.col2,.col3,.col4{
    width: 100%;  
  }
}

@media only screen and(max-width:350px ){
  .footer-container{
    flex-direction: column;
  }
  .col1,.col2,.col3.col4{
    width: 100%;  
  }

}
@media only screen and (max-width: 600px) {
  .footer-container{
    flex-direction: column;
  }
  .col1,.col2,.col3,.col4{
    width: 100%;
    text-align: center;
  }
}
