<footer class="footer-container">
    <div class="col1">
        <h2>Direccion</h2>
        <label>Av. Mariscal Oscar R. Benavides</label>
    </div>
    <div class="col2" >
        <h2>Correo Electronico</h2> 
        <label>contacto@cerezaconsulting.com</label>
        <p>927 391 858</p>
    </div>
    <div class="col3">
        <h2>Redes Sociales</h2> 
        <div class="social">
            <img src="../../../assets/Trazado 38.svg" alt="" style="margin-right: 10px;">
            <img src="../../../assets/Trazado 40.svg" alt="">
        </div>
    </div>
    <div class="col4">
        <img src="../../../assets/LogoResponsive copia.png" alt="logo">
    </div>
    
</footer>