<header class="header-container">
    <div class="imagen-container">
        <img src="../../../assets/LogoResponsive.png" alt="cargando" class="logo">
    </div>
    <!--
    <div class="buscador-container">
        <div class="divisor-container">
            <img src="../../../assets/search.png" class="icon-search" alt="logo">
            <input class="form-control" class="inputClass" type="text" placeholder="Buscar Estrella"
                [formControl]="searchFC">
        </div>
    </div>
    -->
</header>