* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
}
.header-container {
  width: 100%;
  display: flex;
  padding: 30px 80px;
}
.logo {
  width: auto;
  margin-right: auto;
}


.imagen-container{
  text-align: center;
  width: 100%;
}



@media only screen and(max-width:350px ){
  .header-container{
    flex-direction: column;
    width: 100%;
  }

}