<div class="container-titulo">
  <div class="titulo">
    <h1 class="animated fadeInUp">Nuestros certificados</h1>
  </div>
</div>

<div class="centered">
  <section class="cards">
    <mat-card class="card" *ngFor="let star of starQuery.page$ | async">
      <div class="card-container">
        <div class="student__photo">
          <img src="../../../assets/adan.png" alt="" />
          <div class="texto-encima">
            <div class="contenedorImg">
              <img src="../assets/star.svg" class="" alt="" />
              <p
                class="ranking"
                style="position: relative;color:black;margin-top: -50%;left: 50%;transform: translate(-50%, -50%)"
              >
                {{ star.ranking }}
              </p>
            </div>
          </div>
        </div>

        <div class="student__info">
          <div class="student__info__name">
            <div
              style="display: flex;justify-content: center;margin-bottom: 10px;margin-top: 20px;align-items: center;"
              class="icon-social"
            >
              <img
                src="../../../assets/facebook.svg"
                style="width: 15px;height: 15px;"
                class="icon-social"
              />
              <img
                src="../../../assets/linkedin.svg"
                style="width: 15px;height: 15px;margin-left: 10px;margin-right: 10px;"
                class="icon-social"
              />
              <img
                src="../../../assets/download.svg"
                style="width: 15px;height: 15px;"
                class="icon-social"
              />
            </div>
            <p style="opacity: 1;">{{ star.nombre }} {{ star.apellido }}</p>
            <p></p>
          </div>
          <p class="student__info__description"></p>
        </div>
      </div>
    </mat-card>
  </section>
</div>

<div class="navegacion-container">
  <div *ngFor="let valor of starQuery.pagination$ | async" class="nav-item">
    <button (click)="showNextPage(valor)" class="btnPaginacion">
      <label style="color: black;">{{ valor }}</label>
    </button>
  </div>
</div>
