.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
 
.buscador{
  display: flex;
  position: relative;
  width: 50%; 
  margin-bottom: 10px;
}
.buscador-universidad{
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
.icon-search{
  position: absolute;
  height: 40px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 8px;
}


.inputClass{
  text-align: center; 
  width: 450px;
}

.container-titulo{
  display: flex;
  flex-direction: row;
}
 

.titulo {
  width: 100%;
  height: 80px;
  background:#FFF;
  color: #1A1A1A;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  opacity: 1;
  padding:20px 20px;
}
.card {
  text-align: center;
  width: 30%;
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

button {
  width: 100%;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.contenido {
  margin-top: 10px;
  width: 100%;
}
button {
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
}
/*INPUT*/
input {
  width: 100%;
  height: 50px;
}

/*ANIMACIONES*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.example-header-image {
  border-radius: 100%;
  background-size: cover;
}

.flex-university{
  display: flex;
}

.flex-ranking{
  display: flex;
  justify-content: center;
}

.contenedor{
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.texto-debajo{
  width: 90%;
  height: 70px;
  background-image: linear-gradient(to bottom,rgba(255,0,0,0), rgb(0, 0, 0));
  position: absolute;
  top: 85%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
}

/*
.texto-debajo:hover{
  background: rgb(#000,.8);
  transform: translateY(-50px);
  transition: all .5s;
}
*/
.datos-star{
  color:white;
  opacity: 1;
}

p{
  font-family: 'Lato', sans-serif;
}


.filtro-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-container select{ 
  width: 50%;
  margin-left: 40px;
}


.options {
  width: 300px;
  height: 50px;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}

.options  select {
  margin-top: 10px;
  height: 30px;
  font-size: 14px;
  border: none;
  width: 100%;
  background: white;
}

.form-container{
  width: 50%;
  height: 40px;
}
.buscador-container{
  width: 50%;
  padding: 10px 10px;
  display: flex;
  position: relative;
  width: 50%; 
  margin-bottom: 10px;
}



@media only screen and(max-width:350px ){
  .container-titulo{
    flex-direction: column;
  }
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 100%;
  }
  .card {
    width: 100%;
  }

}


@media only screen and (max-width: 650px) {
  .container-titulo{
    flex-direction: column;
  }
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 100%;
  }
  .card {
    width: 50%;
  }

  .filtro-container{
    flex-direction: column;
  }
  .buscador-container,.form-container{
    width: 100%;
    text-align: center;
  }
}


@media only screen and (min-width: 650px) {
  
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 50%;
  }
  .card {
    max-width: 300px;
    width: 40%;
  }
}



@media only screen and (min-width: 920px) {
  .card {
    max-width: 300px;
    width: 40%;
  }
  .titulo{
    width: 100%;
    margin-right: 5px;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 50%;
  }
}

