<div class="container-titulo">
  <div class="titulo">
    <h1 class="animated fadeInUp">Nuestros certificados</h1>
  </div>
</div>

  <div class="centered">
    <section class="cards">
      <mat-card class="card"  *ngFor="let star of starQuery.page$|async">
        <div class="contenedor">
          <img src="../assets/adan.png" class="imgStarrr"/>
          <div class="texto-encima">
            <div class="contenedorImg">
              <img src="../assets/star.svg" class="" alt="">
              <p style="position: relative;color:rgb(255, 255, 255);margin-top: -25px;left: 50%;transform: translate(-50%, -50%)">
                {{ star.ranking }}
              </p>
            </div>
          </div>
          <div class="texto-debajo">
            <mat-card-title><p class="datos-star" >{{ star.nombre }} {{ star.apellido}}</p></mat-card-title>
            <mat-card-subtitle><p class="datos-star">{{ star.universidad.nombre }}</p></mat-card-subtitle>  
            <mat-card-subtitle><p class="datos-star">{{ star.carrera.nombre }}</p></mat-card-subtitle>  
          </div>
        </div>
      </mat-card>
    </section>
    </div>

    <div class="contenido" *ngIf="!esUniversidad">
      <button (click)="showNextPage()" [ngStyle]="buttonStyle()" [disabled]="starQuery.starsDisabledMore$ | async">
        Ver mas
      </button>
    </div>




<!--

    <div class="contenido" *ngIf="esUniversidad">
      <button (click)="showNextPageSelect()" [ngStyle]="buttonStyle()"
        [disabled]="starQuery.starsDisabledMore$ | async">Ver mas 
      </button>
    </div>

    <div class="navegacion-container">
      <ul class="navegacion">
        <li *ngFor="let val of paginacionTotal;let i=index" (click)="showNextPage()">
          {{ i+1 }}
        </li>
      </ul>
    </div>
-->


 
<!--
<div class="filtro-container">

  <div class="buscador-container">
    <img src="../../../assets/search.png" class="icon-search" alt="logo">
    <input class="form-control" class="inputClass" type="text" placeholder="Buscar Estrella" [formControl]="searchFC">
  </div>

  <div class="form-container" class="options">
    <form [formGroup]="form">
      <select formControlName="universidad">
        <option [ngValue]="null" disabled>Seleccione universidad</option>
        <option *ngFor="let uni of universidades;let index=index" [ngValue]="uni.nombre">
          {{uni.nombre}}
        </option>
      </select>
    </form>
  </div>

</div>

-->