.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
 
.buscador{ 
  display: flex;
  position: relative;
  width: 50%; 
  margin-bottom: 10px;
}
.buscador-universidad{
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
.icon-search{
  position: absolute;
  height: 40px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 8px;
}


.inputClass{
  text-align: center; 
  width: 450px;
}

.container-titulo{
  display: flex;
  flex-direction: row;
}
 

.titulo {
  width: 100%;
  height: 80px;
  text-align: center;
  background:#FFF;
  opacity: 1;
  padding:20px 20px;
}

.titulo h1{
  font-size: 50px;
  color: #1A1A1A;
  font-family: 'Lato';
}
.card {
  text-align: center;
  margin: 10px;
}

.listado{
  background: red;
}

.imgStarrr{
  width: 100%;
  height: auto;
  cursor: pointer;
}

button {
  width: 100%;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.contenido {
  margin-top: 10px;
  width: 100%;
}
button {
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
}
/*INPUT*/
input {
  width: 100%;
  height: 50px;
}

/*ANIMACIONES*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.example-header-image {
  border-radius: 100%;
  background-size: cover;
}

.flex-university{
  display: flex;
}

.flex-ranking{
  display: flex;
  justify-content: center;
}

.texto-encima{
  position: absolute;
  top: 20px;
  left: 30px;
}

.contenedor{
  position: relative;
  text-align: center;
}

.texto-debajo{
  width: 100%;
  background-image: linear-gradient(to bottom,rgba(255,0,0,0), rgb(0, 0, 0));
  position: absolute;
  top: 88%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
}
.texto-debajo:hover{
  top: 60%;
  transition: .5s ease-in-out;
  .datos-secundarios{
    top: 100%;
    visibility: initial;
  }
}

.datos-secundarios{
  visibility: hidden;
}







.datos-star{
  color:white;
  opacity: 1;
}

p{
  font-family: 'Lato', sans-serif;
}


.filtro-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-container select{ 
  width: 50%;
  margin-left: 40px;
}


.options {
  width: 300px;
  height: 50px;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}

.options  select {
  margin-top: 10px;
  height: 30px;
  font-size: 14px;
  border: none;
  width: 100%;
  background: white;
}

.form-container{
  width: 50%;
  height: 40px;
}
.buscador-container{
  width: 50%;
  padding: 10px 10px;
  display: flex;
  position: relative;
  width: 50%; 
  margin-bottom: 10px;
}



@media only screen and (max-width: 768px) {
  .imgStarrr{
    width: 100%;
  }
  .texto-debajo{
    top:83%;
  }
  .contenedorImg{
    width: 10px;
    height: 10px;
  } 
  .container-titulo{
    flex-direction: column;
  } 
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 100%;
  }
  .card {
    width: 100%;
  }

}


@media only screen and (min-width: 768px) {
  .container-titulo{
    flex-direction: column;
  }
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 100%;
  }

  .filtro-container{
    flex-direction: column;
  }
  .buscador-container,.form-container{
    width: 100%;
    text-align: center;
  }
  
  .card {
    width: 40%;
  }
}


@media only screen and (min-width: 1024px) {
  .container-titulo{
    flex-direction: column;
  }
  .titulo{
    width: 100%;
    text-align: center;  
    margin-bottom: 10px;
  }
  .buscador{
    width: 100%;
  }

  .filtro-container{
    flex-direction: column;
  }
  .buscador-container,.form-container{
    width: 100%;
    text-align: center;
  }
  
  .card {
    width: 30%;
  }
}


/*LISTA*/

.navegacion-container{
  width: 100%;
  display: flex;
  justify-content: center; 
}

.nav-item{
  width: 50px;
}
